@model ProductViewModel
@{
ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select class="form-select" name="category" asp-items="@ViewBag.Categories">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="text-center">
    <form asp-action="EditProducts" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @for(int i=0 ; i < @Model.Products.Count; i++) { <tr>
                    <td>@Model.Products[i].ProductId
                        <input type="hidden" asp-for="@Model.Products[i].ProductId">
                    </td>
                    <td><img src="~/img/@Model.Products[i].Image" class="img-fluid" style="width: 100px;"
                            alt="@Model.Products[i].Name"></td>
                    <td>@Model.Products[i].Name</td>
                    <td>@Model.Products[i].Price</td>
                    <td>
                        <input type="checkbox" asp-for="@Model.Products[i].IsActive">
                    </td>
                    <td>
                        <a href="/home/edit/@Model.Products[i].ProductId" class="btn btn-sm btn-primary">Edit</a>
                        <a href="/home/delete/@Model.Products[i].ProductId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                    </tr>
                    }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>